:root {
  --Settings-Dock-Colour: var(--Main-Colour);
  --BetterDocsBlockerWhite: var(--Main-Colour);
  --BetterDocsBlockerBlack1: var(--Background-Colour);
  --BetterDocsBlockerBlack2: var(--Secondary-Background-Colour);
  --ServerFolders-Guild-Columns: var(--Guild-Columns);
  --Home-Icon-Mask: var(--Home-Icon);
  
